<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品分类</title>
</head>
<body>
	<%= headerDiv %>
	<div class="splite-line"></div>
	<div class="content-left-menu">
		<div class="left-menu-wrapper">
			<h2 class="menu-title">手机、相机、数码</h2>
			<ul class="menu-list">
				<li class="menu-item">
					<h3 class="title">手机通讯</h3>
					<ul class="kind-list clear-fixed">
						<li class="item"><a href="">全部手机</a></li>
						<li class="item"><a href="">1080p高清</a></li>
						<li class="item"><a href="">双卡手机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">老年机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">联通专区</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<h3 class="title">手机通讯</h3>
					<ul class="kind-list clear-fixed">
						<li class="item"><a href="">全部手机</a></li>
						<li class="item"><a href="">1080p高清</a></li>
						<li class="item"><a href="">双卡手机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">老年机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">联通专区</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<h3 class="title">手机通讯</h3>
					<ul class="kind-list clear-fixed">
						<li class="item"><a href="">全部手机</a></li>
						<li class="item"><a href="">1080p高清</a></li>
						<li class="item"><a href="">双卡手机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">老年机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">联通专区</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<h3 class="title">手机通讯</h3>
					<ul class="kind-list clear-fixed">
						<li class="item"><a href="">全部手机</a></li>
						<li class="item"><a href="">1080p高清</a></li>
						<li class="item"><a href="">双卡手机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">老年机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">联通专区</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<h3 class="title">手机通讯</h3>
					<ul class="kind-list clear-fixed">
						<li class="item"><a href="">全部手机</a></li>
						<li class="item"><a href="">1080p高清</a></li>
						<li class="item"><a href="">双卡手机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">老年机</a></li>
						<li class="item"><a href="">拍照神器</a></li>
						<li class="item"><a href="">联通专区</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<%= bannerDiv %>
	<div class="conten-item clear-fixed">
		<div class="content-header"><h2 class="title">数码影像</h2></div>
		<ul class="item-list">
			<% topList.forEach((item)=>{ %>
			<li class="item-wrapper"><%= item %></li>	
			<% }) %>
		</ul>
	</div>

	<div class="conten-item clear-fixed">
		<div class="content-header"><h2 class="title">娱乐影音</h2></div>
		<ul class="item-list">
			<% bottomList.forEach((item)=>{ %>
			<li class="item-wrapper"><%= item %></li>	
			<% }) %>
		</ul>
	</div>
	<%= footerDiv %>
</body>
</html>