<div class="category-item">
	<div class="img-wrapper"><a href=""><img src="<%= imageUrl%>" alt=""></a></div>
	<div class="item-des"><%= des%></div>
	<div class="item-price"><%=price%></div>
	<div class="item-rating">
		<span class="des">评论:</span>
		<img src="<%= star%>" alt="" class="star">
		(<a href="<%=ratingLink%>" class="rating-link"><%=ratingNum%></a>)
	</div>
</div>